@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Monoton&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --whiteground: 55 97% 98%;
    --background: 55 92% 88%;
    --foreground:55 92% 95%;
    
    --primary-dark: 27 83% 26%;
    --primary: 27 73% 26%;
    --primary-light: 45 93% 47%;
 
    --secondary: 240 4% 16%;
 
    --accent: 210 40% 96.1%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 27 73% 26%;
    --foreground: 27 60% 75%;
 
    --primary: 55 97% 88%;
    --primary-light: 50 98% 64%;
 
    --secondary: 240 4% 16%;
 
    --accent: 55 100% 55%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}